<{% extends 'base.html' %}

{% block head %}

<header id="banner" class="body">
	<h1><a href="/"> Conecte-se <strong> Conecte-se com instituições e ajude quem precisa. </strong></a></h1>

  <nav><ul>
    <li><a href="logout">Logout</a></li>
  </ul></nav>

</header><!-- /#banner -->

{% endblock %}

{% block body %}

<div class="body">

			<h1 style="text-align: center">Atualizar pedido</h1>

		    <div class="form">
		        <form action="/publicar_pedido" method="post">
					<input type="text" name="item" id="item" placeholder="nome do item">
					<input type="number" name="quantidade" id="quantidade" placeholder="quantidade (deve ser um número inteiro)">
					<input type="text" name="unidade" id="unidade" placeholder="unidade (ex: litros, quilos, unidades)">
					<input type="submit"  value="Atualizar pedido">
				</form>
		    </div>
		</div>
		



		<a href="logout"><b>Logout</b></a>

	</ul>

{% endblock %}

{% block footer %}


 {% endblock %}