{% extends 'base.html' %}
	
{% block head %}

<header id="banner" class="body">
	<h1><a href=""> Conecte-se <strong> Conecte-se com instituições e ajude quem precisa. </strong></a></h1>

  <nav><ul>
    <li class="home"><a href="/">Home</a></li>
    <li><a href="cadastro_doador"> Seja um doador.</a></li>

    <li><a href="cadastro_doador">Cadastre a sua instituição</a></li>
    <li><a href="login">Já faz parte? Faça login!</a></li>
  </ul></nav>

</header><!-- /#banner -->

{% endblock %}	

{% block body %}

<aside id="featured" class="body"><article>
  
  <hgroup>

    <h2>Conheça a plataforma</h2>
    <h3><a href="#"> Ajude quem precisa com apenas alguns cliques. </a></h3>
  </hgroup>
  <p> Com a pandemia, pessoas que vivem em algum tipo de vulnerabilidade social passaram a enfrentar situações ainda mais delicadas. Além disso, instituições que trabalham auxiliando estes grupos também foram prejudicadas pela diminuição das doações, pelo aumento do número de pessoas necessitando de ajuda e também pela maior dificuldade em se conectar com o público (não somente o público alvo, mas também com o público que contribui com as instituições). Assim, a plataforma Conecte-se surge com o objetivo de facilitar o a troca entre o público e instituições filantrópicas.</p>

</article></aside><!-- /#featured -->
		
{% endblock %}

{% block footer %}

<nav><ul>
    <li class="home"><a href="home">Home</a></li>
    <li><a href="cadastro_doador"> Seja um doador.</a></li>

    <li><a href="cadastro_doador">Cadastre a sua instituição</a></li>
    <li><a href="login">Já faz parte? Faça login!</a></li>
 </ul></nav>

 {% endblock %}





