{% extends 'base.html' %}

{% block head %}

<header id="banner" class="body">
	<h1><a href="/"> Conecte-se <strong> Conecte-se com instituições e ajude quem precisa. </strong></a></h1>

  <nav><ul>
    <li><a href="logout">Logout</a></li>
  </ul></nav>

</header><!-- /#banner -->

{% endblock %}

{% block body %}

<div class="body">

	
        <center><<h1><b>Olá!</b></h1>

        <a href="todos_pedidos"><b>Veja os pedidos em aberto e faça a sua doação.</b></a>

		<a href="logout"><b>Logout</b></a></center>

{% endblock %}


{% block footer %}



 {% endblock %}