{% extends 'base.html' %}

{% block head %}

<header id="banner" class="body">
	<h1><a href="/"> Conete-se <strong> Conecte-se com instituições e ajude quem precisa. </strong></a></h1>

  <nav><ul>
    <li><a href="logout">Logout</a></li>
  </ul></nav>

</header><!-- /#banner -->

{% endblock %}

{% block body %}

<div class="body">

        <center><h1><b>O cadastro da sua instituição foi efetuado com sucesso. Boas vindas!</b></h1>

        <a href="home_instituicao"><b>Adicone seu primeiro pedido de doação</b></a>
        <br>
        <a href="logout"><b>Logout</b></a></center>

</div>

{% endblock %}

{% block footer %}



 {% endblock %}
